@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ql-editor {
  min-height: 200px;
  max-height: 400px;
}

.display-list ul{
  list-style-type: disc;
  list-style-position: inside;
}

.display-list ol{
  list-style-type: decimal;
  list-style-position: inside;
}

.display-link a{
  color: rgb(2 132 199);
}